name: Deploy production

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy-production:
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy.yml
    with:
      ecr-repository: prod-market-worker
      task-definition: ./.github/task_definitions/prod.json
      ecs-cluster: prod-roman-api-cluster
      container-name: market-worker
      aws-role-arn: arn:aws:iam::845129364773:role/GithubDeployRole
